<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://www.coolmathgames.com/0-wheely">Wheely</a></h4><p>Wheely at Cool Math Games: Push buttons, flip switches and crank cranks to help Wheely get to the end of each level.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://www.coolmathgames.com/0-wheely">Wheely</a></h4><p>Wheely at Cool Math Games: Push buttons, flip switches and crank cranks to help Wheely get to the end of each level.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embe>  
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://www.miniclip.com/games/happy-wheels/en/">Happy Wheels - A free Stunt Game</a></h4><p>Choose your inadequately prepared racer, and ignore severe consequences in your desperate search for victory. Play as a wheelchair man, a pogo stick hopper, a father-son bike riding duo and race your way through challenging and oftentimes, dangerous obstacle courses that will most likely end in missing body parts!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<body> background-color="pink"><blockquote class="embedly-card"><h4><a href="http://www.abcya10.us/games/earth-taken-2/">Play Earth Taken 2 - Abcya 10</a></h4><p>Earth Taken 2 is the best game today. Earth Taken 2 with the latest updates and many dog players. Let's play at Abcya 10.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="http://www.abcya10.us/games/escaping-the-prison/">Play Escaping The Prison - Abcya 10</a></h4><p>Escaping The Prison is the best game today. Escaping The Prison with the latest updates and many dog players. Let's play at Abcya 10.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink"
<embed><blockquote class="embedly-card"><h4><a href="http://www.abcya.com/animate.htm">Make an Animation - Digital Art Skills</a></h4><p>Animation for Kids | Create an animation online with ABCya! Animate</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://www.topspeed.com/car-games/car-games/madalin-stunt-cars-2-ar181403.html">Madalin Stunt Cars 2 @ Top Speed</a></h4><p>Pick one the 34 cars available and make your own stunts using the dedicated 3D landscaping, loops, ramps and tunnels. Madalin Stunt Cars 2 offers console quality graphics inside your browser, it is truly amazing quality but it does requires the Unity 3D plugin and a decent computer to get the best graphics.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://poki.com/en/g/crossy-road">CROSSY ROAD Online - Play Crossy Road for Free at Poki.com!</a></h4><p>Crossy Road: Join millions of players worldwide and experience Hipster Whale's massive viral #1 hit! - Play Crossy Road for Free, and Have Fun!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="http://www.aceshootinggames.com/shooting-games/the-most-wanted-bandito-2.html">The Most Wanted Bandito 2</a></h4><p>The Most Wanted Bandito 2 - Horseback shooting the wild west!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<body bgcolor="purple">  6
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="http://www.cookinggames.com/pizza-hut-decoration.html">Pizza Hut Decoration</a></h4><p>Prepare, bake and dress your very own custom pizza in this yummy, cheesy step by step preparation and decoration game!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://poki.com/en/g/crossy-road">CROSSY ROAD Online - Play Crossy Road for Free at Poki.com!</a></h4><p>Crossy Road: Join millions of players worldwide and experience Hipster Whale's massive viral #1 hit! - Play Crossy Road for Free, and Have Fun!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://poki.com/en/g/fox-simulator-3d">FOX SIMULATOR 3D - Play Fox Simulator 3D for Free at Poki.com!</a></h4><p>Fox Simulator 3D: Here you can play Fox Simulator 3D. - Fox Simulator 3D is one of our selected Girl Games. Play Fox Simulator 3D for Free!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>/embed>
<html>
<body> 
<body background-color"pink">
<embed><blockquote class="embedly-card"><h4><a href="https://poki.com/en/g/hole-io">HOLE.IO Online - Play Hole.io for Free at Poki.com!</a></h4><p>Hole.io: Become the biggest sinkhole you could ever imagine in Hole. - Hole.io is one of our selected .io Games. Play Hole.io for Free!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://poki.com/en/g/dunkers">DUNKERS Online - Play Dunkers for Free at Poki.com!</a></h4><p>Dunkers: Swing your arms, jump, and score in Dunkers! - Dunkers is one of our selected Two player Games. Play Dunkers for Free, and Have Fun!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://www.miniclip.com/games/zombie-trapper-2/en/#t-c-f-C">Zombie Trapper 2 - A free Zombie Game</a></h4><p>Zombies are unbelievably rude. They are after your air-purifier so stop them before they get it! Trap, shoot, beat and blow up zombies in this Zombie survival game - Zombie Trapper 2. Use cunning trap placement and increasingly powerful guns to stop the walking brainless savages.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://www.miniclip.com/games/bob-the-robber-4/en/#t-w-c">Bob The Robber 4 - A free Puzzle Game</a></h4><p>Play Bob The Robber 4 - Steal the treasure under heavy guard, and then escape in time using your stealth skills!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://poki.com/en/g/run-3">RUN 3 Online - Play Run 3 for Free at Poki.com!</a></h4><p>Run 3: Run and jump through dangerous tunnels in space! - Run 3 is one of our selected Action Games. Play Run 3 for Free, and Have Fun!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://poki.com/en/g/bullet-force-multiplayer">BULLET FORCE MULTIPLAYER Online - Play for Free at Poki.com!</a></h4><p>Bullet Force Multiplayer: Kill your enemies on realistic 3D battlegrounds! - Bullet Force Multiplayer is one of our selected Shooting Games.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="http://www.ufreegames.com/play/subway-surfers.html?ref=ref">Subway Surfers Online- Play Subway Surfers Online For Free On uFreeGames.Com!</a></h4><p>Play Subway Surfers Online For FREE! - Subway Surfers Online is a popular game-Dash as fast as you can through the subway and dodge the oncoming trains. Help Jake, Tricky and the rest of the crew escape from the inspector and his dog!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body<
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="http://www.agame.com/game/ghost-team-shooter">Ghost Team Shooter: Army Shooting Game</a></h4><p>Play Ghost Team Shooter: Army Shooting Game on Agame.com - Go behind enemy lines in this relentless first person shooter game. How long can you survive each wave of enemies? Get into an epic shootout on a hillside or in the middle of an old Aztec temple.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
<html>
<body>
<body background-color="pink">
<embed><blockquote class="embedly-card"><h4><a href="https://www.topspeed.com/car-games/car-games/earn-to-die-ar127060.html">Earn To Die @ Top Speed</a></h4><p>Drive over obstacles kind of game, where many obstacles are actually zombies of different sizes. As you move forward you are awarded money to upgrade your vehicles. You will only be able to reach the final escape point with the fully loaded truck and using wisely your boost option.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script></embed>
</body>
  
